# Лабораторная работа №1 Pandas

Импортировать модули sys numpy pandas

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import sys

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [7]:
listik = ['a', 'b', 'c', 'd']
arr = np.array(listik)
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
print(Series(listik))
print(Series(arr))
print(Series(data))

0    a
1    b
2    c
3    d
dtype: object
0    a
1    b
2    c
3    d
dtype: object
state    [Ohio, Ohio, Ohio, Nevada, Nevada]
year         [2000, 2001, 2002, 2001, 2002]
pop               [1.5, 1.7, 3.6, 2.4, 2.9]
dtype: object

Преобразовать объект Series в DataFrame

In [8]:
frame = DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

объединить несколько объектов Series в Dataframe

In [10]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five'])
frame2.columns
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

Присвоить имя индексу объекта Series

In [4]:
s = Series({'a':1, 'b':2, 'c':3})
s.name = 'krokoko'
print(s)

a    1
b    2
c    3
Name: krokoko, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B, возвратить вместе с индексами, возвратить значения

In [10]:
A = pd.Series([1, 2, 3, 4, 5])
B = pd.Series([4, 5, 6, 7, 8])
 
# возвращает вместе с индексами
ans = A[~A.isin(B)]
 
# возвразает значения
ans2 = np.setdiff1d(A, B, assume_unique=False)
print(ans)

0    1
1    2
2    3
dtype: int64

Получить не пересекающиеся элементы в двух объектах Series, получить объединенный Series без повтороений, получить пересекающиеся данные, отобрать все данные, кроме пересекающихся, возвратить значения

In [12]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])
 
# возвращает вместе с индексами
 
# получаем объединенный Series без повтороений
s_union = pd.Series(np.union1d(s1, s2))
# получаем пересекающиеся данные
s_intersect = pd.Series(np.intersect1d(s1, s2))
# отбираем все данные, кроме пересекающихся
ans = s_union[~s_union.isin(s_intersect)]
 
# возвразает значения
ans2 = np.setxor1d(s1, s2, assume_unique=False)
print(ans2)
print(s_union)
print(s_intersect)
print(ans)

[1 2 3 6 7 8]
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
0    4
1    5
dtype: int64
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64